@font-face {
    font-family: "arcadeclassic";
    src: url('../fonts/arcadeclassic.ttf') format("truetype");
}

html,
body {
    color: #FFFFFF;
    word-spacing: 9px;
    /*background: #767474;*/
    overflow: hidden;
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    font-family: 'arcadeclassic', Arial;

    /* Disable selection after double click */
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

body.black-bg {
    background-color: #000 !important;
}

a {text-decoration: none;}

#content {
    position: absolute;
    z-index: 0;
    /*top: 50%;*/
    /*transform: translate(0px, -50%);*/
}
#datGui {
    top: 0;
    position: absolute;
    z-index: 100;
}

.ui {
    width: 1360px;
    height: 768px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    /*background: #1bb7b7;*/
}

.status {
    margin-left: 10px;
}

.warning {
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 25px;
    text-align: center;
    color: red;
}

@keyframes blinker { to { opacity: 0; } }

.hide {
    display: none;
}

.energy {
    margin-left: 10px;
    position: absolute;
    bottom: 0;
}

.energy.low {
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.rcsStatus {
    position: absolute;
    color: lime;
    bottom: 30px;
    margin-left: 10px;
}

.uploaded {
    margin-left: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    display: inline-block;
    text-align: center;
}

.win {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    background: #4f0000;
    padding: 10px;
    width: 300px;
    height: auto;
    display: none;
}

.win .title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
